body{
    background: linear-gradient(45deg, #e6f7b2, #dad982, #e6f7b2);
    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarea{
    left: 50vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/madera.png');
    background-size: cover;
    min-height: 40vh;
    min-width: 25vh;
    height: 90vh;
    width: 60vh;
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 3%;
    justify-content: center;
    align-items: center;
}

.escrito{
    min-width: 10vw;
    width: 80%;
    height: 80vh;
    background-color: #FFEB8A; /* Color de papel */
    box-sizing: border-box;
}

.button{
  margin-bottom: 2vh;
  height: 10vh;
  width: 28vh;
  border-radius: 10px;
  border: 1px solid rgb(7, 223, 158);
  background-color: rgba(167, 219, 25, );
  transition: background-color 0.2s ease;
  background: rgba(223, 104, 7, 0.85);
  cursor: pointer;


}

.button:active{
    background-color: rgba(223, 104, 7, 0.6);
}
.lista{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    list-style: none;
    padding-left: 3vh;
    max-width: 100%;

}

.il{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 20vh;
}

.texto_grande{
    height: 8vh;
    width: 40vh;
}

.input{
    height: 5vh;
    width: 40vh;
}