<!doctype html>
<html>
    <head><title>Encriptar y desencriptar</title></head>
    <form method="post">
        <label for="entry_text">Enter text:</label><br>
        <input type="text" id="entry_text" name="entry_text"><br><br>
        <label for="key">Enter key:</label><br>
        <input type="text" id="key" name="key"><br><br>
        <input type="radio" name="operacion" id="Encriptar" value="0" checked>
        <label for="Encriptar">Encriptar</label><br><br>
        <input type="radio" name="operacion" id="Desencriptar" value="1">
        <label for="Desencriptar">Desencriptar</label><br><br>
        <input type="submit" value="    Ejecutar    "><br><br>
    </form>
</html>